/*
 * Mengtian Li
 * 2/16/2015
 */

/*
 * How customer explains it
 * Browser width greater than 1200
 */
@media only screen and (min-width: 1201px){
	.software { 
		width:128px; 
		height:240px;
		background:url(software.png) 0 0px;	
	}
}
/*
 * How the project leader understood it
 * Browser width greater than 1100 and less or equal to 1200
 */
@media only screen and (min-width: 1101px) and (max-width: 1200px){
	.software {
		width:128px;
		height:240px;
		background:url(software.png) 512px 0px;
	}
}
/*
 * How the Analyst designed text-indent
 */
 @media only screen and (min-width: 1001px) and (max-width: 1100px){
	.software {
		width:128px;
		height:240px;
		background:url(software.png) 384px 0px;
	}
}
/*
 * How the programmer wrote text-indent
 */
 @media only screen and (min-width: 901px) and (max-width: 1000px){
	.software {
		width:128px;
		height:240px;
		background:url(software.png) 256px 0px;
	}
}
/*
 * How the business consultant described it
 */
 @media only screen and (min-width: 801px) and (max-width: 900px){
	.software {
		width:128px;
		height:240px;
		background:url(software.png) 128px 0px;
	}
}
/*
 * How the project was documented
 */
 @media only screen and (min-width: 701px) and (max-width: 800px){
	.software {
		width:128px;
		height:240px;
		background:url(software.png) 0px 240px;
	}
}
/*
 * What operation installed
 */
 @media only screen and (min-width: 601px) and (max-width: 700px){
	.software {
		width:128px;
		height:240px;
		background:url(software.png) 512px 240px;
	}
}
/* 
 * How the customer was billed
 */
 @media only screen and (min-width: 501px) and (max-width: 600px){
	.software {
		width:128px;
		height:240px;
		background:url(software.png) 384px 240px;
	}
}
/*
 * How it was supported
 */
 @media only screen and (min-width: 401px) and (max-width: 500px){
	.software {
		width:128px;
		height:240px;
		background:url(software.png) 256px 240px;
	}
}
/*
 * What the customer really needed
 */
 @media only screen and (max-width: 400px){
	.software {
		width:128px;
		height:240px;
		background:url(software.png) 128px 240px;
	}
}